# MongoDB
DATABASE_USER=admin
DATABASE_PASSWORD=secret_password
DATABASE_HOST=mongo
DATABASE_PORT=27017
DATABASE_NAME=myapp_db

# MinIO
MINIO_ENDPOINT=http://minio:9000
MINIO_ACCESS_KEY=minio_admin
MINIO_SECRET_KEY=minio_secret_key
MINIO_BUCKET=my-bucket

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=redis_password
REDIS_TOKENS_BLACKLIST_DB=0
REDIS_RATE_LIMITING_DB=1

# App
TOKEN_SECRET_KEY=12345678901234567890123456789012
OPENAI_API_KEY=sk-key
DEBUG=True
